# Pabot
pabot_results
.pabotsuitenames

# Logs
logs
reports
results
log.html
output.xml
report.html
playwright-log.txt

# Runtime data
interactive_console_output.xml

# Others
.vscode
__pycache__

# ENVIRONMENT
.env
env.yml
